<ons-navigator>
   <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
		<div class="center"><h3 style="margin-top:-4px"><strong>IndianEagles.Team</strong></h3></div>
        </ons-toolbar>

        <div style="text-align: center">
            <h2 class="w3-light-blue">About</h2> 
												<img src="images/150x150.png" class="w3-circle w3-padding" width="70%" >
            <div style="text-align: justify; padding:20px;margin-top:-20px">
            <p>
												
            <strong>IndianEagles.Team</strong> is a platform for learners, trainers, business aspirants.
This is a business community. We are in direct selling industry. We are a team of tutors for business development.
The community is led by <strong><u>Ruchi Doctor</u></strong> with a purpose of financial Freedom. 
We believe that the training is the only key to achieve success and happiness.
Our trainers are <u>Highly Qualified</u> and having domain knowledge with proven experience in fulfilling your dreams with <u>Modicare</u>.</p>
            </div>
<!--            <ons-button
                ng-click="app.slidingMenu.toggleMenu()">
                Toggle Menu
            </ons-button>
            <p> Click "Toggle Menu" to close/open menu, </p>
            <p> You can also swipe the page left/right.  </p>
            <img src="images/ico_swipe_right_s.png" alt="">
        </div>
-->        
        <div id="result"></div>
								<br></br>
    </ons-page>
		<div class="w3-bottom">
  <ul class="w3-navbar">
    <li><a href="#" onclick="app.slidingMenu.setMainPage('indianeagle.html', {closeMenu: true});" class="w3-red"> << IndianEagles</a></li>
  </ul>
	</div>
</ons-navigator>
